html,
body {
    height: 100%;
    width: 100%;
    background-color: #eee;
    margin: 0;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:
        "logo top"10%
        "navbar main"auto
         / 150px auto;
}

#top-side {
    grid-area: top;
    background-color: #004969;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#logo-content {
    display: flex;
    grid-area: logo;
    background-color: #ffffff;
    border-bottom: solid 3px #A0A0A0;
    align-items: center;
    justify-content: center;
}

#navegador {
    display: flex;
    flex-direction: column;
    grid-area: navbar;
    background-color: #ffffff;
    width: 100%;
    row-gap: 25px;
    /* grid-auto-rows: 100px; */
    padding-top: 30px;
    border-right: solid 2px #D4D4D4;
}

.log-out {
    height: 100%;
}

.log-out a {
    align-self: flex-end;
    margin-bottom: 15px;
}

.list-item {
    display: flex;
    margin: 0;
    background-color: #ffffff;
    font-size: 18px;
    width: auto;
    padding-left: 5px;
    /* justify-content: center; */
    align-items: center;
    transition: margin-left 0.4s;
}

.list-item a {
    color: black;
    text-decoration: none;
    width: 100%;
    transition: padding 0.3s;
}

.list-item a:hover {
    border-radius: 15px;
    background-color: #004969;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.center {
    grid-area: main;
    width: 95%

}

.table-content {
    width: 100%;
    height: 90%;
    margin: 10px;
    margin-left: 2%;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.top-bar-table {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table-items {
    font-size: 16px;
    align-items: center;
}

.table-items a {
    height: 100%;
    padding-left: 15px;
    color: black;
}

.table-items:nth-child(2) {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 15px;
}

.table-items:nth-child(2) a{
    padding: 0;
}

.table-items input[type=text] {
    width: 200px;
    height: 20px;
    border: none;
    margin-left: 15px;
    /*border-radius: 15px;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.8); */
    border-bottom: solid 1px #CACACA;
}

.table-items input[type=text]:focus {
    outline: none;
}

.icon {
    font-size: 35px;
}

.table-items:last-child {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.table-items:last-child a {
    display: flex;
    text-decoration: none;
    margin-right: 15px;
}

.table-items:last-child #new-item {
    display: flex;
    height: 100%;
    font-size: 26px;
    align-items: center;
    justify-content: center;
}

.table-items a:hover {
    text-shadow: 1px 1px 4px #004969;
    cursor: pointer;
}

.action a{
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.action a:hover {
    text-shadow: 1px 1px 4px #004969;
    cursor: pointer;
}

/* ----Media Querys---- */

@media screen and (max-width: 1150px){

    .identi{
        display: none;
    }
    .grid-container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template:
            "logo logo"8%
            "navbar navbar" 3%
            "main main"auto
    }

    #navegador {
        flex-direction: row;
        grid-area: navbar;
        column-gap: 100px;
        padding-top: 0;
        justify-content: center;
    }

    .list-item {
        display: flex;
        margin: 0;
        background-color: #ffffff;
        font-size: 14px;
        width: auto;
        padding-left: 5px;
        justify-content: center;
        align-items: center;
        transition: margin-left 0.4s;
    }

    .list-item a {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        width: 100%;
        transition: padding 0.3s;
    }
    
    .log-out a {
        align-self: center;
        margin-bottom: 0;
    }

    .list-item a:hover {
        border-radius: 15px;
        background-color: #004969;
        padding: 2px;
        color: white;
        cursor: pointer;
    }
}

@media screen and (max-width: 890px){
    .log-out .link-name{
        
        display: none;
    }

    .log-out a{
        font-size: 18px;
        margin-right: 20px;
    }
    
    #navegador{
        column-gap: 100px;
    }
    .contact{
        display: none;
    } 
    .tipo{
        display: none;
    }
}