

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(50deg, #004969 ,#535353 );
    font-family: 'Noto Sans', sans-serif;
}

.grid-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.logo-content img{
    width: 200px;
    border-radius: 15px;
}

.side-img{
    display: flex;
    /* grid-area: img-log; */

}

.side-img img{
    width: 90%;
}

.log-in-stage{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

.log-in-stage h2{
    margin: 0;
    margin-bottom: 5px;
}
.usr-container{
    display: flex;
    flex-direction: column;
}

.log-in-stage .input-log{
    transform: scale(1.1, 1.7);
    border: none;
    border-radius: 6px;
}

.log-in-stage .input-log:focus {
    outline: none;
}

.btn-login{
    margin-top: 8px;
    width: 100%;
}

.btn-login span{
    font-weight: bold;
    margin-bottom: 4px;
}

.btn-login a{
    display: flex;
    flex-direction: row;
    width: 100px;
    gap: 15px;
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 5px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 60%;
}

.btn-login a:hover{
    transform: scale(1.05, 1.05);
    text-shadow: 1px 1px 4px #004969;
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    .logo-content{
        background: none;
    }
}